In [32]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\absolomjr\appdata\local\programs\python\python313\lib\site-packages (1.5.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# importing of files
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [17]:
df = pd.read_csv("C:/Users/Absolomjr/Desktop/final year project dataset/Network_logs.csv")

df1= pd.read_csv("C:/Users/Absolomjr/Desktop/final year project dataset/Time-Series_Network_logs.csv")

In [ ]:
df.head()
#obtaining the first five rows

,Source_IP,Destination_IP,Port,Request_Type,Protocol,Payload_Size,User_Agent,Status,Intrusion,Scan_Type
0,192.168.142.55,42.156.67.167,80,FTP,UDP,2369,curl/7.68.0,Success,0,Normal
1,53.39.165.18,94.60.242.119,135,SMTP,UDP,1536,Wget/1.20.3,Failure,1,BotAttack
2,192.168.127.91,7.10.192.3,21,SMTP,TCP,1183,Wget/1.20.3,Success,0,Normal
3,192.168.30.40,130.169.82.211,25,HTTPS,TCP,666,Mozilla/5.0,Success,0,Normal
4,192.168.43.179,35.140.102.220,22,FTP,TCP,2821,Mozilla/5.0,Success,0,Normal

In [19]:
df1.head()

,Timestamp,Source_IP,Destination_IP,Port,Request_Type,Protocol,Payload_Size,User_Agent,Status,Intrusion,Scan_Type
0,2025-06-06 06:04:08,192.168.54.167,220.159.139.17,443,SSH,ICMP,2954,Mozilla/5.0,Success,0,Normal
1,2025-06-04 15:20:59,192.168.193.254,201.83.205.167,80,FTP,UDP,206,Wget/1.20.3,Success,0,Normal
2,2025-06-03 07:23:49,192.168.91.17,211.0.177.164,21,SSH,ICMP,977,nmap/7.80,Success,0,Normal
3,2025-06-03 11:35:42,192.168.108.75,187.49.21.67,22,HTTP,TCP,521,curl/7.68.0,Success,0,Normal
4,2025-06-05 06:09:02,192.168.245.254,189.62.16.12,53,Telnet,TCP,251,Wget/1.20.3,Success,0,Normal

In [10]:
df.tail()

,Source_IP,Destination_IP,Port,Request_Type,Protocol,Payload_Size,User_Agent,Status,Intrusion,Scan_Type
8841,192.168.62.111,217.201.54.87,22,DNS,UDP,651,python-requests/2.25.1,Failure,0,Normal
8842,192.168.154.70,11.93.131.139,22,Telnet,ICMP,592,Nikto/2.1.6,Success,0,Normal
8843,192.168.199.211,213.172.225.26,443,DNS,TCP,518,nmap/7.80,Success,0,Normal
8844,192.168.107.115,194.38.119.179,53,SSH,TCP,1149,Mozilla/5.0,Success,0,Normal
8845,201.232.85.16,168.101.218.238,31337,FTP,TCP,12,python-requests/2.25.1,Failure,1,PortScan

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8846 entries, 0 to 8845
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Source_IP       8846 non-null   object
 1   Destination_IP  8846 non-null   object
 2   Port            8846 non-null   int64
 3   Request_Type    8846 non-null   object
 4   Protocol        8846 non-null   object
 5   Payload_Size    8846 non-null   int64
 6   User_Agent      8846 non-null   object
 7   Status          8846 non-null   object
 8   Intrusion       8846 non-null   int64
 9   Scan_Type       8846 non-null   object
dtypes: int64(3), object(7)
memory usage: 691.2+ KB

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8866 entries, 0 to 8865
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       8866 non-null   object
 1   Source_IP       8866 non-null   object
 2   Destination_IP  8866 non-null   object
 3   Port            8866 non-null   int64
 4   Request_Type    8866 non-null   object
 5   Protocol        8866 non-null   object
 6   Payload_Size    8866 non-null   int64
 7   User_Agent      8866 non-null   object
 8   Status          8866 non-null   object
 9   Intrusion       8866 non-null   int64
 10  Scan_Type       8866 non-null   object
dtypes: int64(3), object(8)
memory usage: 762.1+ KB

In [12]:
df.isnull().sum()

Source_IP         0
Destination_IP    0
Port              0
Request_Type      0
Protocol          0
Payload_Size      0
User_Agent        0
Status            0
Intrusion         0
Scan_Type         0
dtype: int64

In [22]:
df1.isnull().sum()

Timestamp         0
Source_IP         0
Destination_IP    0
Port              0
Request_Type      0
Protocol          0
Payload_Size      0
User_Agent        0
Status            0
Intrusion         0
Scan_Type         0
dtype: int64

In [13]:
print(df.duplicated().sum())

0

In [14]:
df.describe()

               Port  Payload_Size    Intrusion
count   8846.000000   8846.000000  8846.000000
mean     887.127741   1598.762831     0.095636
std     4042.073308    915.615023     0.294109
min       21.000000      0.000000     0.000000
25%       22.000000    836.250000     0.000000
50%       53.000000   1580.000000     0.000000
75%       80.000000   2326.000000     0.000000
max    31337.000000   4997.000000     1.000000

In [15]:
df.shape

(8846, 10)

In [23]:
df1.shape

(8866, 11)